#post-publish{
    margin: 5% 10% 10% 10%;
}
#post-edit{
    margin: 5% 10% 10% 10%;
}
#side_nav{
    background-color:white;
    min-width: 250px;
    max-width: 250px;
}
.content{
    min-height: 100vh;
    width: 100%
}